/* line 2, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
* {
  font-family: Trebuchet MS; }

/* line 6, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
body,
ul,
li {
  margin: 0;
  padding: 0; }

/* line 13, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
p,
li,
h1,
h2,
h3,
h4 {
  color: #4e4e4e; }

/* line 22, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
body {
  background-color: #fff; }

/* line 26, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
.wrapper {
  width: 96% !important;
  max-width: 1200px !important;
  margin: 0 auto !important;
  padding: 0 2% !important; }

/* line 33, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
header {
  background-color: #f5f5f5;
  padding: 20px 0;
  position: fixed;
  width: 100%; }
  /* line 38, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header h1 {
    margin: 0;
    text-indent: -100000px;
    background: url(images/logo.png) no-repeat;
    width: 125px;
    float: left; }
  /* line 45, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav {
    float: right; }
  /* line 48, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header:after {
    display: block;
    content: "";
    clear: both; }
  /* line 51, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav li {
    margin-left: 25px;
    list-style-type: none;
    float: left;
    margin-top: 10px; }
  /* line 57, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav h2 {
    text-indent: -10000px;
    margin: 0;
    line-height: 0; }
  /* line 62, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav a {
    text-decoration: none;
    margin: 0;
    padding: 12px 20px;
    color: #4e4e4e;
    transition: 0.6s all;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 71, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header a:hover {
    text-decoration: none; }
  /* line 74, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav a.current {
    color: darkcyan;
    transition: 0.6s all; }
  /* line 78, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav a.current:hover {
    background-color: darkcyan;
    color: white; }

/*////////--- Adding Dropdwon Menus---/////////*/
/* line 87, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
ul.drop-menu li {
  display: none;
  float: none;
  width: 120px;
  padding: 12px 14px;
  text-decoration: none;
  text-align: center;
  margin: 0 -18px;
  background-color: #D3D3D3;
  color: white; }
  /* line 97, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  ul.drop-menu li a {
    color: #4e4e4e; }
  /* line 100, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  ul.drop-menu li:nth-child(1) {
    margin-top: 40px; }

/* line 105, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
li:hover > ul.drop-menu li {
  display: block;
  text-decoration: none;
  color: white; }

/* line 112, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
li:hover > ul.drop-menu.menu-01 {
  perspective: 1000px; }
  /* line 114, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  li:hover > ul.drop-menu.menu-01 li {
    opacity: 0; }
    /* line 117, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-01 li:nth-child(1) {
      animation: menu1 300ms -100ms ease-in-out forwards; }
    /* line 117, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-01 li:nth-child(2) {
      animation: menu1 300ms 100ms ease-in-out forwards; }
    /* line 117, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-01 li:nth-child(3) {
      animation: menu1 300ms 300ms ease-in-out forwards; }
    /* line 117, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-01 li:nth-child(4) {
      animation: menu1 300ms 500ms ease-in-out forwards; }
    /* line 117, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-01 li:nth-child(5) {
      animation: menu1 300ms 700ms ease-in-out forwards; }
    /* line 117, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-01 li:nth-child(6) {
      animation: menu1 300ms 900ms ease-in-out forwards; }
    /* line 117, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-01 li:nth-child(7) {
      animation: menu1 300ms 1100ms ease-in-out forwards; }
    /* line 117, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-01 li:nth-child(8) {
      animation: menu1 300ms 1300ms ease-in-out forwards; }

@keyframes menu1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px); }
  50% {
    opacity: 0.4;
    transform: rotateY(0deg); }
  100% {
    opacity: 1;
    transform: rotateY(0deg); } }

/* line 140, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
li:hover > ul.drop-menu.menu-02 {
  perspective: 1000px; }
  /* line 142, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  li:hover > ul.drop-menu.menu-02 li {
    opacity: 0; }
    /* line 145, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-02 li:nth-child(1) {
      animation: menu2 300ms -100ms ease-in-out forwards; }
    /* line 145, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-02 li:nth-child(2) {
      animation: menu2 300ms 100ms ease-in-out forwards; }
    /* line 145, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-02 li:nth-child(3) {
      animation: menu2 300ms 300ms ease-in-out forwards; }
    /* line 145, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-02 li:nth-child(4) {
      animation: menu2 300ms 500ms ease-in-out forwards; }
    /* line 145, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-02 li:nth-child(5) {
      animation: menu2 300ms 700ms ease-in-out forwards; }
    /* line 145, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-02 li:nth-child(6) {
      animation: menu2 300ms 900ms ease-in-out forwards; }
    /* line 145, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-02 li:nth-child(7) {
      animation: menu2 300ms 1100ms ease-in-out forwards; }
    /* line 145, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-02 li:nth-child(8) {
      animation: menu2 300ms 1300ms ease-in-out forwards; }

@keyframes menu2 {
  0% {
    opacity: 0;
    transform: rotateX(90deg); }
  50% {
    opacity: 0.4;
    transform: rotateX(0deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }

/* line 168, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
li:hover > ul.drop-menu.menu-03 {
  perspective: 1000px; }
  /* line 170, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  li:hover > ul.drop-menu.menu-03 li {
    opacity: 0;
    transform-origin: top right; }
    /* line 174, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-03 li:nth-child(1) {
      animation: menu3 300ms -100ms ease-in-out forwards; }
    /* line 174, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-03 li:nth-child(2) {
      animation: menu3 300ms 100ms ease-in-out forwards; }
    /* line 174, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-03 li:nth-child(3) {
      animation: menu3 300ms 300ms ease-in-out forwards; }
    /* line 174, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-03 li:nth-child(4) {
      animation: menu3 300ms 500ms ease-in-out forwards; }
    /* line 174, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-03 li:nth-child(5) {
      animation: menu3 300ms 700ms ease-in-out forwards; }
    /* line 174, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-03 li:nth-child(6) {
      animation: menu3 300ms 900ms ease-in-out forwards; }
    /* line 174, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-03 li:nth-child(7) {
      animation: menu3 300ms 1100ms ease-in-out forwards; }
    /* line 174, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-03 li:nth-child(8) {
      animation: menu3 300ms 1300ms ease-in-out forwards; }

@keyframes menu3 {
  0% {
    opacity: 0;
    transform: rotate(-30deg) translateX(30px); }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0px); } }

/* line 193, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
li:hover > ul.drop-menu.menu-04 {
  perspective: 1000px; }
  /* line 195, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  li:hover > ul.drop-menu.menu-04 li {
    opacity: 0; }
    /* line 198, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-04 li:nth-child(1) {
      animation: menu4 300ms -100ms ease-in-out forwards; }
    /* line 198, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-04 li:nth-child(2) {
      animation: menu4 300ms 100ms ease-in-out forwards; }
    /* line 198, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-04 li:nth-child(3) {
      animation: menu4 300ms 300ms ease-in-out forwards; }
    /* line 198, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-04 li:nth-child(4) {
      animation: menu4 300ms 500ms ease-in-out forwards; }
    /* line 198, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    li:hover > ul.drop-menu.menu-04 li:nth-child(5) {
      animation: menu4 300ms 700ms ease-in-out forwards; }

@keyframes menu4 {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(30px); }
  50% {
    opacity: 0.4;
    transform: scale(0.6) translateY(-30px); }
  100% {
    opacity: 1;
    transform: scale(1); } }

/* line 220, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
#main-banner {
  max-height: 500px;
  overflow: hidden; }
  /* line 223, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #main-banner img {
    width: 100%;
    height: 350px; }

/* line 229, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
#selling-points {
  margin-top: 60px; }
  /* line 231, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #selling-points ul li {
    float: left;
    width: 24%;
    margin-left: 1%;
    list-style-type: none;
    padding: 15px;
    text-align: center; }
  /* line 239, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #selling-points img {
    transition: all 1.1s; }
    /* line 241, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    #selling-points img:hover {
      transform: scale(1.5); }
  /* line 245, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #selling-points:after {
    display: block;
    content: "";
    clear: both; }

/* line 250, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
#latest-works {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1.5px solid grey; }

/* line 256, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
#latest-works h2 {
  width: 400px;
  text-align: center;
  color: white;
  background: #4e4e4e;
  margin: 0 auto;
  padding: 12px 42px;
  border-radius: 0 0 50px 50px;
  margin-bottom: 20px; }

/* line 267, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
#latest-works ul li {
  float: left;
  width: 31%;
  list-style-type: none;
  padding: 1%;
  text-align: center; }

/* line 275, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
#latest-works ul img {
  width: 100%;
  transition: 1.2s all; }

/* line 280, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
#latest-works img:hover {
  transform: scale(1.1); }

/* line 284, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
#latest-works:after {
  display: block;
  content: "";
  clear: both; }

/* line 288, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
#quote {
  margin: 0 auto;
  background: url(images/quote.png) no-repeat center top;
  text-align: center;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
  color: #4e4e4e; }

/* line 298, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
footer:after {
  display: block;
  content: "";
  clear: both; }

/* line 302, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
footer {
  background-color: #1d1d1d;
  border-top: 5px solid black; }

/* line 307, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
footer ul {
  list-style-type: none;
  float: left;
  width: 22%;
  margin-left: 1%;
  padding: 1%;
  line-height: 1.3em; }

/* line 316, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
footer ul h4 {
  font-size: 20px; }

/* line 320, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
.copyright {
  color: #4e4e4e;
  border-top: 1px solid #333;
  padding: 10px 0;
  text-align: center;
  clear: both; }

/*Media-query for Tablets max-width: 960px*/
@media screen and (max-width: 960px) {
  /* line 332, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #selling-points ul li {
    width: 40%;
    padding: 0 4%; }
  /* line 336, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav a {
    padding: 0; } }

/*Media-query for Smaller-Tablets max-width: 768px*/
@media screen and (max-width: 768px) {
  /* line 345, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header h1 {
    margin: 0 auto;
    float: none; }
  /* line 349, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav {
    float: none;
    margin: 0;
    padding: 0; }
  /* line 354, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav li {
    float: left;
    margin: 10px auto;
    width: 100% / 6;
    padding-left: 20px;
    text-align: center; }
  /* line 361, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #quote {
    width: 90%;
    padding: 40px 5%; }
  /* line 365, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  footer ul {
    width: 45%; }
  /* line 368, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  footer ul:nth-child(odd) {
    clear: both; }
  /* line 371, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #selling-points ul li {
    width: 40%;
    margin: 2% 5%;
    padding-top: 2%; }
  /* line 378, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #latest-works ul li {
    width: 90%;
    float: none;
    text-align: center;
    padding: 0 5%;
    margin: 10px auto; }
    /* line 384, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    #latest-works ul li h3 {
      font-weight: bold; }
    /* line 387, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    #latest-works ul li p {
      width: 90%;
      margin: 2% auto;
      padding: 0 5%;
      font-size: 16px; } }

@media screen and (max-width: 670px) {
  /* line 396, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav li {
    width: 16%;
    font-size: 11px;
    padding: 0; } }

/*Media-query for Smart Phones max-width:605px*/
@media screen and (max-width: 605px) {
  /* line 407, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #burger-nav {
    height: 60px;
    width: 100%;
    background: url(images/burger.png) no-repeat 98% center;
    cursor: pointer; }
  /* line 415, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav ul {
    height: 0;
    overflow: hidden; }
  /* line 419, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav li {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0; }
  /* line 426, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav li:hover > ul.drop-menu li {
    text-align: center;
    width: 90%;
    padding: 0 5%;
    margin: 0 auto; }
  /* line 432, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav a {
    display: block;
    padding: 10px;
    margin: 2px;
    border-bottom: 1px solid lightgrey; }
  /* line 438, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav .wrapper {
    margin: 0;
    padding: 0;
    width: 100%; }
  /* line 443, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav ul.open {
    height: auto; }
  /* line 446, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  header nav ul.animateburger {
    opacity: 0;
    animation: animateburgernav 0.6s ease-in forwards; }
  @keyframes animateburgernav {
    0% {
      transform: translateX(650px) rotateX(180deg);
      opacity: 0; }
    100% {
      transform: translateX(0px) rotateX(0deg);
      opacity: 1; } }
  /* line 455, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #latest-works ul li {
    width: 90%;
    padding: 10%;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold; }
  /* line 462, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #selling-points ul li {
    width: 100%;
    padding: 0 10%;
    margin: 20px 0; }
  /* line 467, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #latest-works h2 {
    width: 80%; }
    /* line 469, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    #latest-works h2 ul {
      width: 80%;
      padding: 0 10%;
      margin: 30px 0; }
  /* line 477, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  #quote {
    font-size: 14px;
    font-weight: bold; }
  /* line 482, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
  footer ul {
    width: 100%;
    border-top: 1px solid #333; }
    /* line 485, C:/Users/danish/Documents/GitHub/psd-responsive/style.scss */
    footer ul h4 {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */